strong {
	font-weight: bold;	
}
.x-toolbar-title, .x-toolbar-dark .x-toolbar-title {
	color: #C33250;
	text-transform: uppercase;
	font: 18px Times, sans-serif;
	margin-top: 12px;	
}
.x-toolbar-dark.x-toolbar, .x-panel.x-tabbar.x-tabbar-dark {
	border: none;	
}
.x-panel.x-tabbar.x-tabbar-dark.x-docked.x-docked-top .x-tab.x-tab-normal.x-docked.x-docked-top {
	display: none;	
}

.imageDetails {
	text-align: center;	
	font-style: italic;
	background: #fff;
}

.imageDetails .name{
	font-style: normal;	
}

.imageDetails img {
	height: 100%;	
}

.home .p, .p{
	padding: 10px;	
	font-size: 0.8em;
}
.image {
	padding: 10px;	
	text-align: center;
	font-style: italic;
	font-size: 0.7em;
}
.image img {
	width: 80%;	
}

.x-toolbar.header {
	background: transparent;
	height: 1.8em; 
	font-size: 19px;	
}
.x-tabbar-dark.x-docked-top .x-tab.x-tab-normal .x-button-label {
	font-weight: normal !important;	
}

.x-tabbar-dark.x-docked-top .x-tab.x-tab-normal, x-tab.x-tab-normal.x-tab-active {
	text-transform: uppercase;
	font-weight: normal;
	color: #000;	
	font: 18px Times, sans-serif;
	background: transparent;
	height: 28px;
}

.x-tabbar-dark.x-docked-top .x-tab.x-tab-normal.x-tab-active {
	
	-webkit-box-shadow: none;
	border-radius: 0;
	border-bottom: 2px solid #C33250; 	
}

.x-list-header {
	color: black;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 18px;
	padding: 8px 12px 4px 12px;
	border-bottom: 0px;
    background: #F7F7F7;
	-webkit-box-shadow: none;
		
}
.recentRow .medium, .recentRow .size {
	font-style: italic;	
}

.recentRow img {
	width: 100%;
	min-height: 170px;	
}
.floatLeft {
	float: left;
	display: inline-block;
	width: 50%;
	padding-right: 12px;
}