strong {
	font-weight: bold;	
}
.x-toolbar-title, .x-toolbar-dark .x-toolbar-title {
	color: #fff;
	text-transform: uppercase;
	font: 18px Times, sans-serif;
	margin-top: 12px;	
}
.x-toolbar-dark.x-toolbar, .x-panel.x-tabbar.x-tabbar-dark {
	border: none;	
}
.x-panel.x-tabbar.x-tabbar-dark.x-docked.x-docked-top .x-tab.x-tab-normal.x-docked.x-docked-top {
	display: none;	
}

.imageDetails {
	text-align: center;	
	font-style: italic;
	background: #fff;
}

.imageDetails .name{
	font-style: normal;	
}

.imageDetails img {
	height: 100%;	
}

.home .p, .p{
	padding: 10px;	
	font-size: 0.8em;
}
.image {
	padding: 10px;	
	text-align: center;
	font-style: italic;
	font-size: 0.7em;
}
.image img {
	width: 80%;	
}

.x-toolbar.header {
	height: 1.8em; 
	font-size: 19px;	
}
.x-tabbar-dark.x-docked-top .x-tab.x-tab-normal .x-button-label {
	font-weight: normal !important;	
}


.x-tabbar-dark.x-docked-top .x-tab.x-tab-normal.x-tab-active {
	
	-webkit-box-shadow: none;
	border-radius: 0;
	border-bottom: 2px solid #C33250; 	
}

.x-list-header {
	color: black;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 18px;
	padding: 8px 12px 4px 12px;
	border: 0px;
    background: #F7F7F7;
	-webkit-box-shadow: none;
		
}
.recentRow .medium, .recentRow .size {
	font-style: italic;	
}

.recentRow img {
	width: 100%;
	min-height: 170px;	
}

.recentRow h2 {
  font-size: 1.2em;
  font-weight: normal;
}
.recentRow .exyear {
  font-style: italic;
}
.floatLeft {
	float: left;
	display: inline-block;
	width: 50%;
	padding-right: 12px;
}

.x-tabbar-dark.x-docked-bottom .x-tab-active img {
  background-color: #D96565;
  background-image: none !important;  
  
}

.x-toolbar-dark .x-button img.x-icon-mask {
  background-color: #C33250;  
}

.x-tabbar .x-tab:last-child{
  display: none;
}




.x-list .x-list-disclosure {
-webkit-mask: 0 0 url('../lib/arrow_right2.png') no-repeat;
-webkit-mask-size: 1.7em;
background-color: #666;
opacity: 0.8;
background-image: linear-gradient(#404040,#262626 50%,#1A1A1A 51%,#0D0D0D) !important;
background-image: -webkit-linear-gradient(#404040,#262626 50%,#1A1A1A 51%,#0D0D0D);
width: 1.7em;
height: 1.7em;
}